@model IEnumerable<Texxtoor.DataModels.Models.Cms.CmsPage>
@{
  PageData["Title"] = "List of Pages (CMS)";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}
<div class="well">
  This pages gives an overview over all pages from all applications and for all cultures.
  @Html.ActionLink("Create New", "Create")
</div>
<table class="table table-condensed table-bordered">
  <tr>
    <th>
      Seo Title
    </th>
    <th>
      Page Title
    </th>
    <th>
      Alias
    </th>
    <th>
      Content (characters)
    </th>
    <th>
      Locale Id
    </th>
    <th>
      Is Fallback
    </th>
    <th>
    </th>
  </tr>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.SeoTitle)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PageTitle)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Alias)
      </td>
      <td>
        @if (@item.PageContent.Length == 0) {
          @:Empty
          } else {
          @: @item.PageContent.Length
        }
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.LocaleId)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsFallback)
      </td>
      <td style="text-wrap: none">
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" })
      </td>
    </tr>
  }
</table>
