@model Texxtoor.DataModels.Models.Users.User

@{
  PageData["Title"] = "User Details";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}
@using (Html.BeginForm()) {
  using (Html.BtFieldset("User")) {
    @Html.DisplayForModel()
  }
  using (Html.BtFieldset("Roles")) {
    @Html.LabelFor(m => m.Roles)
    @Html.DisplayFor(m => m.Roles)  
  }
}
<div class="formsendButtons">
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
</div>
