@model Texxtoor.ViewModels.Users.ChangePassword
@{
  Layout = Url.GetGlobalLayout("_LayoutCommon");
  PageData["Title"] = Loc("title", "Change Password");
}
@using (Html.BeginForm()) {
  if ((bool)ViewBag.HasError) {
    <div class="alert alert-warning">
      @Html.ValidationSummary(true, "")
    </div>
  }
  using (Html.BtFieldset(Loc("legend", "Account Information"))) {
    @Html.EditorForModel()
    <div class="formsendButtons">
      @Button.Submit(ViewResources.Action_Common_ChangePassword)
    </div>
  }
}
@using (Html.BtDiv(BtStyle.Well)) {
  @Loc("text1", @"Use the form below to change your password.
  New passwords are required to be a minimum of <em><span data-args='0' data-desc='PasswordLength'>{0}</span></em> characters
  in length.", (int)ViewBag.PasswordLength)
  <br />
  @Loc("logged", String.Format("You're currently logged in as user <em>{0}</em>.", User.Identity.Name)).ToString()

}
@Html.Heading(HtmlHeading.H2, Loc("headersrv", "Logon Services"))
<div class="well well-sm">
  @Loc("txtSrv", "Use these functions to help yourself registering or maintaining your account.")
</div>
<div class="btn-group">
  <a href="@Url.Action("Register")" class="btn btn-lg btn-default" title="@Loc("srvRegister", "Register for new account")">@ViewResources.TasksButton_Common_Register</a>
</div>
<div class="btn-group">
  <a href="@Url.Action("RetrievePassword")" class="btn btn-lg btn-default" title="@Loc("srvRegister", "Register for new account")">@ViewResources.Action_Common_RetrievePassword</a>
</div>
