@model Texxtoor.ViewModels.Users.RetrievePassword
@{
  Layout = Url.GetGlobalLayout("_LayoutCommon");
  PageData["Title"] = Loc("title", "Reset Password");
}
@section HeadContent {
  <script>
    $(function () {
      $('[name="UserName"]').on('click change blur keyup', function () {
        getQuestion();
      });
      getQuestion();
    });

    function getQuestion() {
      $.ajax({
        url: '@Url.Action("CheckUser", "Account")',
        data: {
          name: $('[name="UserName"]').val()
        },
        dataType: 'json',
        type: 'GET'
      }).done(function (data) {
        $('#PasswordQuestion').text('');
        if (data.question) {
          $('[name="UserName"]').val(data.name);
          $('[name="PasswordQuestion"]').val(data.question);
        }
      });
    }
  </script>
}
@using (Html.BtDiv(BtStyle.Well)) {
  @Loc("text1", @"Use the form below to reset your password. You get a temporary one. Use either user name or email.")
}
@using (Html.BeginForm()) {
  if ((bool)ViewBag.HasError) {
    using (Html.BtDiv(BtStyle.AlertAndWarning)) {
      @Html.ValidationSummary(true, "")
    }
  }
  using (Html.BtFieldset(Loc("legend", "Account Information"))) {
    using (Html.BtDiv(BtStyle.WellAndSmall)) {
      @Loc("explain", "Type your name or e-mail in the field below. Once we recognize you we show your password question. Answer the question to get a new password.")
      @Loc("explain1", "If there is no question visible, we could get your account using the provided information. Please call our help desk.")
    }
    @Html.EditorForModel()
    <div class="formsendButtons">
      @Button.Submit(ViewResources.Action_Common_ResetPassword)
    </div>
  }
}

@Html.Heading(HtmlHeading.H3, Loc("headersrv", "Logon Services"))
<div class="well well-sm">
  @Loc("txtSrv", "Use these functions to help yourself registering or maintaining your account.")
</div>
<div class="btn-group">
  <a href="@Url.Action("Register")" class="btn btn-lg btn-default" title="@Loc("srvRegister", "Register for new account")">@ViewResources.TasksButton_Common_Register</a>
</div>
<div class="btn-group">
  <a href="@Url.Action("ChangePassword")" class="btn btn-lg btn-default" title="@Loc("srvChange", "Change your current passwort")">@ViewResources.Action_Common_ChangePassword</a>
</div>
<div class="btn-group">
  <a href="@Url.Action("Logon")" class="btn btn-lg btn-default" title="@Loc("srvLgon", "Logon Dialog")">@ViewResources.Action_Common_Logon</a>
</div>
