@model Texxtoor.ViewModels.Users.SetPassword
@{
  Layout = Url.GetGlobalLayout("_LayoutCommon");
  PageData["Title"] = Loc("title", @"Retrieve Password");
}
<div class="alert alert-info">
  @Loc("text1", @"Your password has been changed retrieved. We created a new temporary password and sent you an email. 
  Please confirm this mail and change the password at your earliest convenience.")
</div>
@using (Html.BeginForm()) {
  if ((bool)ViewBag.HasError) {
    <div class="alert alert-warning">
      @Html.ValidationSummary(true, "")
    </div>
  }
  using (Html.BtFieldset(Loc("legend", "Account Information"))) {
    @Html.EditorForModel()
    <div class="formsendButtons">
      @Button.Submit(ViewResources.Action_Common_ChangePassword)
    </div>
  }
}
@Html.Heading(HtmlHeading.H2, Loc("headersrv", "Logon Services"))
<div class="well well-sm">
  @Loc("txtSrv", "Use these functions to help yourself registering or maintaining your account.")
</div>
<div class="btn-group">
  <a href="@Url.Action("Register")" class="btn btn-lg btn-default" title="@Loc("srvRegister", "Register for new account")">@ViewResources.TasksButton_Common_Register</a>
</div>
