@model Texxtoor.DataModels.Models.Author.WorkroomChat
@using (Html.BtPanel(Loc("title", "Create Team Message"), "green")) {
  using (Html.BeginForm("CreateMessage", "Project", FormMethod.Post, new {id = "createMessageForm"})) {
    using (Html.BtFieldset(Loc("legendMsg", @"New Message to the Team"))) {
      <label for="opus">@Loc("lblOpusName", @"Opus concerning this message"):</label>
      <div class="editor-field">
        <select name="opus" id="opus">
          @foreach (var item in Model.Project.Opuses) {
            <option value="@item.Id">@item.Name (@item.CreatedAt.ToShortDateString())</option>
          }
        </select>
      </div>
      @Html.EditorForModel()
      <div class="formsendButtons">
        @Button.Submit(ViewResources.Action_Project_AddMessage)
      </div>
    }
  }
}