@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Texxtoor.DataModels.Models.Author
@model IEnumerable<Texxtoor.ViewModels.Author.TeamMemberModel>
@{
  var tm = Model.Single(m => m.TeamMember.TeamLead);
  var currentUserIsTeamLead = ViewBag.Editable;
}
@section HelpSection {
  <h3>@Loc("titleMembers", "Your team's members")</h3>
  @using (Html.BtDiv(BtStyle.WellAndSmall)) {
    @Loc("txtMembers", "See your team's members, their current state and rating, assign roles and rate their work.")
    @Loc("noactiverem", "You cannot remove an active member.")
  }
}
<div class="tab-pane" id="leader">
  <div class="container">
    <div class="row">
      @Html.Partial("Members/_SetMemberRoles", tm)
    </div>
    <div class="row">
        <h3>@Loc("tTeamLead", "Team's Leader") @tm.Member.Profile.FirstName @tm.Member.Profile.LastName (@tm.Member.UserName)</h3>
        <div class="well well-sm" data-target="membersroles" data-id="@tm.TeamMember.Id">
          @Html.Partial("Members/_MembersRoles", tm)
      </div>
    </div>
    <div class="row" data-item="@tm.TeamMember.Id">
      <div class="col-md-2">
        <img src="/Tools/GetImg/@(tm.Member.Profile.Id)?c=MemberThumbnail&res=96x128&t=@(DateTime.Now.Ticks)" class="showProfile listMembersImg" />
        @if (currentUserIsTeamLead) {
         <a href="#" class="btnShowRoles btn btn-sm btn-primary">@ViewResources.Action_Team_Save_Assignment</a>
        }
      </div>
      <div class="col-md-9">
        @if (Model.Any(t => t.TeamMember.Member.Profile.GlobalRating > 0)) {
          @Loc("txtRatingAll", "This team has currently an average rating of {0:0.0} on the 1-10 scale:", Model.Where(t => t.TeamMember.Member.Profile.GlobalRating > 0).Average(t => t.TeamMember.Member.Profile.GlobalRating))
        }
      </div>
      <div class="col-md-9">
        @Loc("tytOtherProjects", "See connections to your members in other projects:")
      </div>
      <div class="col-md-9">
        <ul class="list-group list-striped">
          @foreach (var project in (Model.Where(m => !m.TeamMember.TeamLead).SelectMany(m => m.Projects).Intersect(tm.Projects))) {
            <li class="list-group-item">
              @project.Name (@project.Team.Name)
              @if (project.Active) {
                <span class="badge badge-success">@Loc("active", "Active")</span>
              } else {
                <span class="badge badge-warning">@Loc("notactive", "Not Active")</span>
              }
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="showProfileDialog modal" data-item="@tm.TeamMember.Id">
      @Html.Raw(tm.Profile.Walltext)
    </div>
  </div>
</div>
<div class="tab-pane" id="active">
  <h3>@Loc("tConfirmed", "Confirmed")</h3>
  @Html.Partial("Members/_ListMembersColumn", Model.Where(m => !m.TeamMember.Pending).Except(Model.Where(m => m.TeamMember.TeamLead)))
</div>
<div class="tab-pane" id="new">
  <h3>@Loc("tPending", "Pending")</h3>
  @Html.Partial("Members/_ListMembersColumn", Model.Where(m => m.TeamMember.Pending).Except(Model.Where(m => m.TeamMember.TeamLead)))
</div>
