<div class="col-sm-12" data-item="author" data-active="true">
  <div class="box box-collapsed">
    <div class="box-header blue-background">
      <div class="title">
        <div class="@BtIcon.Star"></div>
        @Loc("titleIntro", "The first steps...how to start")
      </div>
      <div class="actions">
        <a class="btn box-collapse btn-xs btn-link" href="#">
          <i></i>
        </a>
      </div>
    </div>
    <div class="box-content">
      @Loc("start", "To start using texxtoor there are a few simple steps, that make your life easier:" +
                     "<ol>" +
                     "<li>Download the Author Package &ndash; see below</li>" +
                     "<li>Install the MS Word-AddIn. If not possible just use the texxtoor.dotx template </li>" +
                     "<li>Write your text, upload figures using the add-in</li>" +
                     "<li>Create a project</li>" +
                     "<li>Upload your text to that project</li>" +
                     "<li>Go to the text's dashboard, go to 'Edit text'</li>" +
                     "<li>Check out that the uploaded text is properly set and formatted in the editor 'Tasks' &gt; 'Editor' </li>" +
                     "<li>If done use the 'Author Preview' to see that everything well layed out</li>" +
                     "<li>Set a marketing package to have the major settings handy</li>" +
                     "<li>Publish the text, set template, cover, and all catalog data</li>" +
                     "<li>Watch your text in the reader</li>" +
                     "<li>Order your author copies for a discounted price</li>" +
                     "</ol>")
      <div class="nav nav-bar">
        <a href="~/Download/Package.zip" class="btn btn-sm btn-primary">@Loc("download", "Download Package here (ZIP)")</a>
        <a href="~/Download/setup.exe" class="btn btn-sm btn-primary">@Loc("downloadWord", "MS Word Add-In (Click Once Executable)")</a>
      </div>
    </div>
  </div>
</div>
