@model IEnumerable<Texxtoor.DataModels.Models.Cms.CmsMenuItem>

@{
    PageData["Title"] = "Menu Items";
    Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}

<div class="well">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-sm btn-primary pull-right" })
</div>
<table class="table table-bordered table-condensed" >
    <tr>
        <th>
            Title
        </th>
        <th>
            Navigate Url
        </th>
        <th>
            Is External Url
        </th>
        <th>
            Visible
        </th>
        <th>
            LocaleId
        </th>
        <th>
            IsFallback
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NavigateUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExternalUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocaleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFallback)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" }) 
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" })
        </td>
    </tr>
}

</table>
