@model Texxtoor.ViewModels.Users.ChangePassword

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()

  using (Html.BtFieldset("Change Password Form")) {
    <ol>
      <li>
        @Html.LabelFor(m => m.OldPassword)
        @Html.EditorFor(m => m.OldPassword)
      </li>
      <li>
        @Html.LabelFor(m => m.NewPassword)
        @Html.EditorFor(m => m.NewPassword)
      </li>
      <li>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.EditorFor(m => m.ConfirmPassword)
      </li>
    </ol>
    <input type="submit" value="@ViewResources.Action_Common_ChangePassword" />
  }
}
