@model Texxtoor.ViewModels.Users.ChangePassword

<div class="well">
  @Loc("txt", @"You do not have a local password for this site. Add a local
  password so you can log in without an external login.")
</div>

@using (Html.BeginForm("Manage", "Account")) {
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  using (Html.BtFieldset(Loc("legend", "Set Password Form"))) {
    <ol>
      <li>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
      </li>
      <li>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
      </li>
    </ol>
  <div class="formsendButtons">
    <button type="submit" class="btn btn-primary" value="@ViewResources.Action_Common_ChangePassword" />
  </div>
  }
}
