@model Texxtoor.DataModels.Models.Content.Project

@{
  PageData["Title"] = "Edit Project Properties";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}

@using (Html.BeginForm()) {
  @Html.ValidationSummary(true)
  @Html.AntiForgeryToken()
  using (Html.BtFieldset("Project Properties")) {

    @Html.EditorForModel()

    @Html.HiddenFor(model => model.Id)

    <div class="formsendButtons">
      <button type="submit" class="btn btn-sm btn-primary">Save Project Properties</button>
      @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-default" })
    </div>
  }
}
