@model IEnumerable<Texxtoor.DataModels.Models.Content.Project>

@{
  PageData["Title"] = "Projects";
  Layout = Url.GetGlobalLayout("_LayoutAdmin", "AdminPortal");
}

<table class="table table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Short</th>
    <th>Team Lead</th>
    <th>Active</th>
    <th>Action</th>
  </tr>
  @foreach (var item in Model) {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Name)</td>
      <td>@Html.DisplayFor(modelItem => item.Short)</td>      
      <td>@Html.DisplayFor(modelItem => item.Team.TeamLead.UserName)</td>
      <td>@Html.DisplayFor(modelItem => item.Active)</td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-warning" })
      </td>
    </tr>
  }


</table>
