@{
  ViewBag.Title = "Editor";  
}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/Base/AuthorRoom")
  @Scripts.Render("~/Scripts/Base/AuthorRoom")
  @RenderSection("HeadContent", true)  
</head>
<body style="padding-top: 27px">
  @RenderSection("AjaxLoader", true)
  @RenderSection("FindReplacePanel", true)
  @RenderSection("LeftPanes", false)
  <div id="leftbar" class="flowButton"></div>
  <div id="rightbar" class="naviButton"></div>
  <div id="tools">
    <div id="head">
      @RenderSection("HeadPane", true)
    </div>
  </div>
  <div class="wrapper">
    <div id="body">
      @RenderBody()
    </div>
  </div>
  @RenderSection("RightPanes", false)
  @RenderSection("Footer", true)
</body>
</html>
