@model Texxtoor.DataModels.Models.Content.Project
@{
    PageData["Title"] = Loc("titlePckgs", "Marketing Packages");
    Layout = Url.GetGlobalLayout("_LayoutAuthor", "AuthorPortal");
    PageData["ShortHelp"] = Loc("text", "Marketing Packages are global, they can be used in any project, but can be assigned only once.");
}
@section HeadContent {
    <script type="text/javascript">

        $(function () {
            ui = new Dialog(
              {
                  formId: '#addMarketingPackageForm',
                  formDivId: '#addMarketingPackage',
                  formAction: '@Url.Action("AddMarketingPackage")',
                  sendBtnId: '#addMarketingPackageSendButton',
                  cancelBtnId: '#addMarketingPackageCancelButton',
                  onShow: function () {
                      $('#main').hide();
                      PrepareCountryInput('');
                  },
                  onClose: function () {
                      $('#main').show();
                      $('#addMarketingPackage .box-content').empty();
                  }
              },
              {
                  formId: '#editMarketingPackageForm',
                  formDivId: '#editMarketingPackage',
                  formAction: '@Url.Action("EditMarketingPackage")',
                  sendBtnId: '#editMarketingPackageSendButton',
                  cancelBtnId: '#editMarketingPackageCancelButton',
                  onShow: function (id) {
                      $('#main').hide();
                      $(ui.addForm.formDivId).html("");
                      $.ajax({
                          url: '@Url.Action("GetPackageCountries", "Marketing")',
                          data: { id: id },
                          type: 'GET',
                          cache: false,
                          dataType: "json",
                          success: function (data) {
                              PrepareCountryInput(data);
                          }
                      });
                  },
                  onClose: function () {
                      $('#main').show();
                  }
              },
              {
                  formId: '#delMarketingPackage',
                  formDivId: '#delMarketingPackage',
                  formAction: '@Url.Action("DeleteMarketingPackage")',
                  sendBtnId: '#delMarketingPackageSendButton',
                  cancelBtnId: '#delMarketingPackageCancelButton'
              },
              {
                  formId: '#main',
                  formDivId: '#main',
                  formAction: '@(Model == null ? Url.Action("ListAllMarketingPackages") : Url.Action("ListMarketingPackages", new { id = Model.Id }))',
                  onShow: function () {
                      $('[data-item="assignPackage"]').click(function (e) {
                          var id = $(this).parent().data('item');
                          SetPackage(id);
                      });
                  }
              });
            ui.updateTable();
        });

        function PrepareCountryInput(prePopulateItems) {
            prepareTokeInput(prePopulateItems); // global in home.js
        }

        function SetPackage(mid, prjId, unassign) {
            var pid = @(Model == null ? 0 : Model.Id);
            if (pid == 0 && prjId){
                pid = prjId;
            }
            if (pid != 0){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetMarketingPackage")',
                    data: {
                        id: pid,
                        marketingId: mid,
                        unassign: unassign
                    },
                    cache: false,
                    dataType: "json",
                    success: function (data) {
                        toastr.success(data.msg);
                        UpdateState();
                        ui.updateTable();
                    },
                    error: function () {
                        toastr.success('Error setting Package');
                    }
                });
            }
        }

        function UpdateState() {
            var pid = @(Model == null ? 0 : Model.Id);
            if (pid != 0){
                $.ajax({
                    url: '@Url.Action("ProjectMarketingState")',
                    data: {
                        id: pid
                    },
                    cache: false,
                    dataType: "html",
                    success: function (data) {
                        $('#state').html(data);
                    }
                });
            }
        }
    </script>
}
@if (Model != null) {
    using (Html.BtDiv(BtStyle.AlertAndInfo)) {
        @Html.Action("ProjectMarketingState", "Marketing", Model.Id)
        @:.
        @Loc("title2", "Common settings for '<span data-args='0' data-desc='Project Name'>{0}</span>'", Model.Name)
        @:.
   }
}
@using (Html.BtDeleteTemplate(Loc("textDelConf", @"You're about to delete a Marketing Package permanently. Please confirm."))) {
    @Create.FormButtonOnClick("delMarketingPackageSendButton", "", ViewResources.Action_Marketing_DeletePackage, "btn-warning")
    @Create.FormButtonOnClick("delMarketingPackageCancelButton", "", ViewResources.Button_Cancel)
}
@Create.ContentFormEmpty("addMarketingPackage", "Add Marketing Package")
@Create.ContentFormEmpty("editMarketingPackage", "Edit Package")
<h2>@Loc("title3", "Available Marketing Packages for You")</h2>
@Create.MainContentWithLoader()
@if (Model != null) {
    @Create.ActionTask("btnShares", false, Url.Action("ManageShares", "Team", new { id = Model.Id }), ViewResources.TasksButton_ManageShares)
    @Create.ActionTask("btnPubl", true, Url.Action("Index", "Publishing", new { id = Model.Id }), ViewResources.TasksButton_Publish)
    @Create.ActionTask("", false, Url.Action("Dashboard", "Project", new { id = Model.Id }), ViewResources.LinkButton_ToDashboard)
}
@Create.ActionTask("", false, Url.Action("Revenues", "Marketing", null), ViewResources.LinkButton_Common_Revenues)
@Create.ActionTask("", true, Url.Action("Stats", "Marketing", null), ViewResources.LinkButton_Common_Stats)
@Create.ActionTask("", false, Url.Action("Index", "Project", null), ViewResources.LinkButton_ToProjects)
@section HelpSection{
    <p>
        @Loc("text1", @"These settings are predefinitions used to improve and accelerate the publishing
  process. You, however, change these settings any time and during the actual publishing
  procedure. Each of these settings have influence on the way your work become visible,
  makes money, and is spread through the community. The basic rule is that you get
  more attention, make more money, and have more success the less restricted your
  work is.")

    </p>
}