@model Texxtoor.DataModels.Models.Reader.Functions.QuestionsAnswers
@using (Html.BeginForm("AddAnswer", "Groups", new { area = "ReaderPortal", id = Model.Id }, FormMethod.Post, new { id = "addAnswerForm" })) {
  @Html.HiddenFor(m => m.Work)
    using(Html.BtFieldset(Loc("legendAnswer", @"Answer Question"))) {
    @Html.LabelFor(m => m.Subject)
    <div class="editor-field">
      @Html.EditorFor(m => m.Subject)
    </div>
    @Html.LabelFor(m => m.Content)
    <div class="editor-field">
      @Html.EditorFor(m => m.Content)
    </div>
    @Html.LabelFor(m => m.Mood)
    <div class="editor-field">
      @Html.EditorFor(m => m.Mood)
    </div>
    <div class="formsendButtons">
      @Create.FormButtonOnClick("addAnswerSendButton", "", ViewResources.Action_Groups_CreateQuestion)
      @Create.FormButtonOnClick("addAnswerCancelButton", "", ViewResources.Button_CancelAndClose, BtStyle.ButtonDefault)
    </div>
  }
}