@model Texxtoor.DataModels.Models.Content.Project
@{
  PageData["Title"] = Loc("title", "Assign Project to New Lead Author");
  Layout = Url.GetGlobalLayout("_LayoutAuthor", "AuthorPortal");
  PageData["ShortHelp"] = Loc("text1", @"Give the ownership of the whole project to another user. See help for details.");
  var rm = (Texxtoor.DataModels.Models.Common.RunMode)HttpContext.Current.Application["RunMode"];
}
@section HeadContent{
  <script type="text/javascript">
  var userSelector;
  $(function () {
    userSelector = $('#userid').tokenInput('@Url.Action("SearchUsers", "Team", new {id = Model.Id})', {
        minChars: 2,
        theme: "@rm.ToString().ToLowerInvariant()",
        tokenLimit: 1,
        data: {
          'teamOnly': function() {
            return $('[name="teamOnly"]').is(':checked') ? false : true;
          }
        },
        cache: false,
        hintText: '@ViewResources.SearchPlaceHolder',
      preventDuplicates: true,
      onAdd: function () {
        $('#confirm').removeAttr('disabled');
        $('#confirm').trigger('change');
      },
      onDelete: function () {
        $('#confirm').removeAttr('checked');
        $('#confirm').trigger('change');
        $('#confirm').attr('disabled', 'disabled');
      }
    });
    $('[name=confirm]').change(function () {

      if ($(this).is(':checked')) {
        $('#assignUser').removeAttr('disabled');
        $('#assignUser').css('opacity', '1.0');
      } else {
        $('#assignUser').attr('disabled', 'disabled');
        $('#assignUser').css('opacity', '0.5');
      }
    });
    $(document).on('click', '#assignUser', function () {
      if ($('#assignUser').attr('disabled') != 'disabled') {
        $('form#assignForm').submit();
      }
    });
    $('#assignForm').show();
  });
  </script>
}
@if (ViewBag.Error != null) {
  using (Html.BtDiv(BtStyle.AlertAndWarning)) {
    @ViewBag.Error
  }
}
@using (Html.BtFormPanel(Loc("legendAdd", "Select User"), "assignForm", "green")) {
  using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.Id)
    using (Html.BtFieldset(Loc("legend", @"Author Selection"))) {
      <label class="control-label">@Loc("lblAll", "Search Scope")</label>
      <div class="editor-field">
        <input type="checkbox" name="teamOnly" value="true" />&nbsp;&nbsp;@Loc("chkAll", "Search in entire user database.")
        @Create.FieldHelpIcon(Loc("chkAllHelp", "If NOT checked the search goes only through your current team members.").ToString(), "", "")
      </div>
      <label class="control-label">@Loc("lblUserOrEmail", @"Type Username or E-mail")</label>
      <div class="editor-field">
        <input id="userid" name="userid" type="text" />
        @Create.FieldHelpIcon(Loc("textNew", @"Type the username to get suggestions. Use the search fields below for other search options.").ToString(), "", "")
      </div>
      <label class="control-label"> @Loc("lblKeep", @"Keep me in the team")</label>
      <div class="editor-field">
        <input type="checkbox" id="keep" name="keep" value="true" checked="checked" />
        @Create.FieldHelpIcon(Loc("textKeep", @"Keep myself in the team as a regular member. Uncheck if you're just a service provider.").ToString(), "", "")
      </div>
      <div class="alert alert-warning">
        @Loc("explain", @"You're about to assign the project to the selected user. This operation cannot be undone. Please confirm here: {0}
                           assigning project <em>{1}</em>.",
                          @"<input type=""checkbox"" id=""confirm"" name=""confirm"" value=""true"" disabled=""disabled"">", Model.Name)
      </div>
      <div class="formsendButtons">
        <button type="submit" id="assignUser" disabled="disabled" class="btn btn-sm btn-warning">@ViewResources.Action_AssignToLead</button>
      </div>

    }
  }
}
@Create.ActionTask("lnkTeams", false, Url.Action("Index", "Team"), ViewResources.TasksButton_ToTeams)
@Create.ActionTask("lnkDashboard", false, Url.Action("Index", "Project", new { Id = Model.Id }), ViewResources.Action_Project_ShowDashboard)
@section HelpSection{
  <p>
    @Loc("help1", @"<p>You can abandon you work as a lead for this particular project and assign it to another user. This has " +
                       "some consequences:</p><ul>" +
                       "<li>The new lead author will get all revenues</li>" +
                       "<li>The new lead author will control your membership, if you decide to stay in the project as a contributor</li>" +
                       "<li>All your texts, once published, appear under the name of the new lead author</li>" +
                       "</ul>")
  </p>
  <p>
    @Loc("help2", @"<p>The function is appropriate, if </p><ul>" +
                     "<li>You want to merge accounts you already own</li>" +
                     "<li>You provide services for others, such as import of MS Word documents, and want to move the project forward</li>" +
                     "<li>You decide to work with another account for a particular operation</li>" +
                     "<li>You move content betwenn a private account and an account managed by an agency</li>")
  </p>
}
