@model Texxtoor.DataModels.Models.Common.Message
@using (Html.BeginForm("SendMessage", "Messaging", FormMethod.Post, new { id = "addMessageForm" })) {
  using (Html.BtFieldset(Loc("legend", @"Create new message"))) {
    @Html.LabelFor(m => m.Receiver)
    <div id="friends" class="editor-field">
      <input type="text" id="receivers" name="receivers" data-val="true" data-val-required="Das Feld &quot;Empfänger&quot; ist erforderlich." />
      @Html.ValidationMessageFor(m => m.Receiver)
      <div class="tokenInput helpIcon">
        @Create.FieldHelpIcon(Html, m => m.Receiver)
      </div>
    </div>
    @Html.EditorForModel()
    @Button.FormSendButtons("addMessageSendButton", ViewResources.Action_Messaging_SendMail, "addMessageCancelButton", ViewResources.Button_CancelAndClose)
  }
}