@model Texxtoor.DataModels.Models.Reader.Content.Work
@{
  PageData["Title"] = Loc("title1", "Manage My Bookmarks");
  Layout = Url.GetGlobalLayout("_LayoutReader", "ReaderPortal");
}
@section HeadContent {
  <script type="text/javascript">
    $(function() {
      UpdateTable();
      $(document).on('click', '#delBookmarks', function() { DeleteBookmarks(); });
    });

    function DeleteBookmarks() {
      var allVals = [];
      $('input[name=bookmarkId]:checked').each(function() {
        allVals.push($(this).val());
      });
      if (allVals.length > 0) {
        $.ajax({
          url: '@Url.Action("DeleteBookmarks")',
          data: JSON.stringify(allVals),
          contentType: 'application/json; charset=utf-8',
          type: 'POST',
          cache: false,
          dataType: "html",
          success: function(data) {
            UpdateTable();
            toastr.success(data);
          }
        });
      }
    }

    function UpdateTable() {
      $.ajax({
        url: '@Url.Action("ListBookmarks")',
        data: { id: '@Model.Id' },
        cache: false,
        dataType: "html",
        success: function(data) {
          $('#main').html(data);
          SetTableBehavior();
        }
      });
    }
  </script>
  @Script.SetTableBehavior()
}
@using(Html.BtDiv(BtStyle.Well)) {
@Loc("text1", @"This page makes all bookmarks of a specific work accessible. You can view or remove bookmarks.")
}
<h2>@ViewBag.WorkName</h2>
@Create.MainContentWithLoader()
@Create.ActionTask("", false, Url.Action("Library", "Reader"), ViewResources.TasksButton_Reader_Library)
@Create.ActionTask("", false, Url.Action("Matrix", "Home"), ViewResources.LinkButton_Reader_Matrix)
