@model IEnumerable<Texxtoor.DataModels.Models.Content.TemplateGroup>
<form>
  @foreach (var templatesGroup in Model) {
    using (Html.BtFieldset(String.Format("Template Group '{0}' [{1}]", templatesGroup.Name, templatesGroup.Culture.NativeName))) {
      <div class="btn-group">
        @if (templatesGroup.IsCommonTemplate) {
          @Html.ActionLink("Rename Group", "RenamePdfTemplateGroup", "Template", new { id = templatesGroup.Id }, new { @class = "btn btn-sm btn-default" })
          @Html.ActionLink("Delete Group", "DeletePdfTemplateGroup", "Template", new { id = templatesGroup.Id }, new { @class = "btn btn-sm btn-warning" })
          @Html.ActionLink("Create File", "EditPdfTemplate", "Template", null, new { @class = "btn btn-sm btn-primary" })
          @Html.ActionLink("Upload File", "UploadPdfTemplate", "Template", new { id = templatesGroup.Id }, new { @class = "btn btn-sm btn-default" })
        } else {
          <div class="alert alert-info">
            This is the default group that supports internal public functions. You cannot change this unless you copy the whole group and work with the copy.
          </div>
        }
        @Html.ActionLink("Copy Group", "CopyPdfTemplateGroup", "Template", new { id = templatesGroup.Id }, new { @class = "btn btn-sm btn-default" })
      </div>
      <table class="table table-condensed table-striped">
        <tr>
          <th width="100%">Vorlagen</th>
          <th colspan="3">Aktionen</th>
        </tr>
        @foreach (var template in templatesGroup.Templates) {
          <tr>
            <td>@template.InternalName</td>
            <td>
              @if (templatesGroup.IsCommonTemplate) {
                @Html.ActionLink("Delete", "DeletePdfTemplate", new { id = template.Id }, new { @class = "btn btn-xs btn-warning" })
              }
            </td>
            <td>
              @if (templatesGroup.IsCommonTemplate) {
                if (template.InternalName.EndsWith(".xml") || template.InternalName.EndsWith(".css")) {
                  @Html.ActionLink("Edit", "EditPdfTemplate", new { id = template.Id }, new { @class = "btn btn-xs btn-primary" })
                } else {
                  @Html.ActionLink("Upload", "UploadPdfTemplate", new { id = template.Id, name = template.InternalName, group = templatesGroup.Id }, new { @class = "btn btn-xs btn-default" })
                }
              }
            </td>
            <td>
              @Html.ActionLink("Download", "DownloadTemplate", new { id = template.Id }, new { @class = "btn btn-xs btn-default" })
            </td>
          </tr>
        }
      </table>
    }
  }
</form>

