@model Texxtoor.DataModels.Models.Author.Invoice
@if (Model.Creditor.UserName == User.Identity.Name) {
  <div class="alert alert-warning">
    @Loc("txtErrOwn", "You cannot invoice yourself.")
  </div>
} else {
  using (Html.BeginForm("CreateInvoice", "Team", new { area = "AuthorPortal" }, FormMethod.Post, new { id = "createInvoiceForm" })) {
    @Html.HiddenFor(m => m.Creditor.Id)
    @Html.HiddenFor(m => m.Debitor.Id)
    @Html.HiddenFor(m => m.BillingDate)
    @Html.HiddenFor(m => m.TaxPercentage)
    @Html.HiddenFor(m => m.WithTax)  
    @Html.HiddenFor(m => m.Paid)  
    using(Html.BtFieldset(Loc("legendGrp", @"Create New Invoice"))) {
      <h4>@Loc("titleInvHeader", "Invoice Header")</h4>
      @Html.LabelFor(m => m.Text)
      <div class="editor-field">
        @Html.TextBoxFor(m => m.Text)
        @Html.ValidationMessageFor(m => m.Text)
      </div>
      @Html.LabelFor(m => m.DueDays)
      <div class="editor-field">
        @Html.TextBoxFor(m => m.DueDays)
      </div>
      @Html.LabelFor(m => m.Creditor)
      <div class="editor-field">
        @Model.Creditor.UserName
      </div>
      <h4>@Loc("titleInvPos", "Invoice Positions")</h4>
      <label>@Loc("lblPos", "Positions")</label>
      <div class="editor-field">
        @foreach (var pos in Model.Positions) {
          @(1 + pos.Position)<text>.</text> <input type="text" value="@pos.Amount" name="amount" /> <text>&euro; for </text><input type="text" value="@pos.Text" name="text" />
        }
      </div>
      <label>&nbsp;</label>
      <div class="editor-field">
        @Loc("txtOneOnly", "Currently we support one position per invoice only. For multiple position, raise multiple invoices.")
      </div>
      <div class="clearfix"></div>
      @Button.FormSendButtons("createInvoiceSendButton", ViewResources.Action_Team_BillingNewInvoice, "createInvoiceCancelButton", ViewResources.Button_CancelAndClose)
    }
  }
}