@model Texxtoor.DataModels.Models.Reader.Content.WorkChat
@using (Html.BeginForm("CreateMessage", "Reader", FormMethod.Post, new { id = "createMessageForm" })) {
  using (Html.BtFieldset(Loc("legendMsg", @"New Message to the peer readers"))) {
    @Html.LabelFor(m => m.Name)
    <div class="editor-field">
      @Html.DisplayFor(m => m.Name)
    </div>
    @Html.LabelFor(m => m.Subject)
    <div class="editor-field">
      @Html.EditorFor(m => m.Subject)
      @Html.ValidationMessageFor(m => m.Subject)
    </div>
    @Html.LabelFor(m => m.Content)
    <div class="editor-field">
      @Html.EditorFor(m => m.Content)
      @Html.ValidationMessageFor(m => m.Content)
    </div>
    @Html.LabelFor(m => m.Closed)
    <div class="editor-field">
      @Html.EditorFor(m => m.Closed)
      @Html.ValidationMessageFor(m => m.Closed)
    </div>
    @Html.LabelFor(m => m.Mood)
    <div class="editor-field" style="width:300px">
      @Html.EditorFor(m => m.Mood)
    </div>
    <div class="formsendButtons">
      <button id="createMessageButton" type="submit" class="btn btn-primary btn-sm">@ViewResources.Action_Project_AddMessage</button>
      <button id="cancelMessageButton" type="button" class="btn btn-default btn-sm">@ViewResources.Button_CancelAndClose</button>
    </div>
  }
}
